body{
    background-image: url("../assets/alexandre-debieve-FO7JIlwjOtU-unsplash.jpg");
    background-size: cover;
}
h1{
    font-family: 'DynaPuff', cursive;
    font-size: 50px;
}
h3{
    font-family: 'DynaPuff', cursive;
    font-size: 25px;
}
.out_cont{
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer{
    /* margin-top: 50px;
    display:inline-block;
    flex-direction: column;
    align-items: center;
    border:2px solid black;
    box-shadow: 0px 0px 2px 2px black; 
    padding:20px; */
    margin-top: 50px;
    background: rgba( 255, 255, 255, 0.25 );
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 4.5px );
    -webkit-backdrop-filter: blur( 20px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    display: flex;
    flex-direction: column;
    align-items: center;
    display: inline-block;
    padding:30px;
}
.buttons{
    display: flex;
    flex-direction: row-reverse;
}
.proceed{
    margin-left: 10px;
}
.entry{
    display: flex;
    justify-content: center;
}
.ans{
    display: flex;
    justify-content: center;
    flex-direction: column-reverse;
    font-size: 25px;
    color:white;
}